.active {
    border: 1px solid blue;
    font-weight: bold;
}
.editable {
	border: 1px solid black;
	padding: 3px;
	width: 90px;
	font-size: 12px;
	height: 50px;
	font-family: times;
	float: left;
	text-align: left;
}
input {
	border: 1px solid black;
	padding: 3px;
	width: 90px;
	font-size: 12px;
	height: 50px;
	font-family: times;
	float: left;
	text-align: left;
}
text {
	position: absolute;
}

	


